
:root{
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --light: #fff;
    --grey: #6b7280;
    --pink: #ec4899;
    --purple: #8b5cf6;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:  Arial, Helvetica, sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--light);
}

.ground{
    background-color: var(--dark);
}

header{
    padding: 2rem 2rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    color: var(--grey);
}

.head{
    display: flex;
    justify-content: space-between;
}

#mode{
    border: 1px solid;
    cursor: pointer;
    padding: 0 5px;
    color: var(--light);
}

#mode:hover{
    opacity: 0.8;
}

#mode:active{
    opacity: 0.5;
}

.toDo{
    display: flex;
    margin-top: 10px;
}

input, button{
    appearance: none;
    border: none;
    background: none;
}

#input{
    font-size: 15px;
    flex: 1;
    background: var(--darker);
    padding: 1rem ;
    border-radius: 2rem;
    color: var(--light);
    margin-right: 0.5rem;
}

#input::placeholder{
    color: var(--grey);
}

#submit{
    color: var(--purple);
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    /* background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    cursor: pointer;
}

#submit:hover{
    opacity: 0.8;
}

#submit:active{
    opacity: 0.5;
}

.body{
    padding: 2rem 2rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.body h2{
    color: var(--grey);
    margin-bottom: 10px;
}

#task{
  display: flex;
  align-items: center;
  background: var(--darkest);
  justify-content: space-between;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

#content{
    flex: 1;
    /* border: 1px solid; */
}

/* #btns{
    border: 1px solid;
} */

#task #list {
  color: var(--light);
  font-size: 15px;
  width: 95%;
  cursor: pointer;
}

#list:not(:read-only){
    color: var(--pink);
}

#edit{
    color: var(--purple);
    font-size: 17px;
    font-weight: bold;
    /* background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    cursor: pointer;
    margin-right: 1rem;
}

#edit:hover{
    opacity: 0.8;
}

#edit:active{
    opacity: 0.5;
}

#delete{
    color: red;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

#delete:hover{
    opacity: 0.8;
}

#delete:active{
    opacity: 0.5;
}



